<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Quiz | Dashboard</title>

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>

        <script src="{{ url_for('static', filename='quiz/js/dashboard.js') }}"></script>
        <script src="{{ url_for('static', filename='quiz/js/create.js') }}"></script>
        <script src="{{ url_for('static', filename='quiz/js/courses.js') }}"></script>
        <script src="{{ url_for('static', filename='quiz/js/topics.js') }}"></script>

        <link rel = "stylesheet" href = "{{ url_for('static', filename='quiz/css/create.css') }}">

    </head>
    <body>

      <!-- navigation menu -->
      <nav class="nav-extended blue">
        <div class="nav-wrapper">
          <a href="/quiz" class="brand-logo center">Quiz</a>
          <ul id="slide-out" class="side-nav">
            <li><a href="/quiz/logout/">Leave<i class="material-icons right">exit_to_app</i></a></li>
          </ul>
          <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <!-- search sidebar -->
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-content">
                <div class="row">
                  <label>Subjects</label>
                  <select id="course" required>
                    <option disabled selected>Select a subject</option>
                  </select>
                </div>

                <div class = "row">
                  <label>Topics</label>
                  <select id="topic" required>
                    <option disabled selected>Select a Topic</option>
                  </select>
                </div>

                <div class = "row">
                  <label>Number of Questions</label>
                  <input type="number" id="number" min=0 required>
                </div>

                <div class = "row">
                  <label>Level</label><br>
                  <label>Easy</label>
                  <p class="range-field">
                    <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                  </p>
                  <label>Medium</label>
                  <p class="range-field">
                    <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                  </p>
                  <label>Difficult</label>
                  <p class="range-field">
                    <input type="range" class="level" min="0" max="100" step="10" value="0"/>
                  </p>
                </div>

                <div class="row">
                  <label>Type</label><br>
                  <div id="type">
                    <p>
                      <input name="group1" type="radio" id="test1" value="shortAnswer"/>
                      <label for="test1">Short answer</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2" value="trueOrFalse"/>
                      <label for="test2">True or false</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test3" value="multipleChoice"/>
                      <label for="test3">Multiple choice</label>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <a type="button" class="btn col s12 m12 l12 waves-effect waves-light blue" id="btnSearch">Search</a>
                </div>
            </div>
          </div>
        </div>

        <!-- List of Questions-->
        <div class="row">
          <div class="col s12 m6 l9">
            <div class="card">
                <div class="card-action">
                  <a class="btn waves-effect waves-light blue white-text" id="btnGeneratePDF">Download<i class="material-icons right">get_app</i></a>
                  <a class="btn waves-effect waves-light blue white-text" id="btnSave">Save<i class="material-icons right">save</i></a>

                </div>

                <div class="card-content">
                  <label>Nome</label>
                  <input type="text" id="name">

                  <label>Description</label>
                  <input type="text" id="description">

                  <label>Number of attempts</label>
                  <input type="number" id="num-attempts" min="1" value="1">

                  <label>Time (in minutes)</label>
                  <input type="number" id="time" min="1" value="1">

                  <ol class="card-title" id="questions-list"></ol>
                </div>

            </div>
          </div>
        </div>

        <div class="fixed-action-btn vertical click-to-toggle">
         <!--<a class="btn btn-large blue">Menu -->
         <a class="btn btn-large waves-effect waves-light blue ">
           <i class="material-icons">menu</i>
         </a>
         <ul>
           <li><a id="btnCreate" class="modal-trigger" href="#new-question-modal">Issue<i class="material-icons right">add</i></a></li>
           <li><a id="btn-call-modal-new-course" class="modal-trigger" href="#modal-new-course">Subject<i class="material-icons right">add</i></a></li>
           <li><a id="btn-call-modal-new-topic" class="modal-trigger" href="#modal-new-topic">Topic<i class="material-icons right">add</i></a></li>
         </ul>
       </div>

      </div>

      <!-- panel to create new issues manually -->
      <div id="new-question-modal" class="modal">
        <div class="modal-content">
          <span class="modal-title">New Issue</span>
          <div class="row">
            <label>Title</label>
            <input id="nq-title" type="text">
          </div>

          <div class="row">
            <label>Subject</label>
            <select id="nq-course"></select>
          </div>

          <div class="row">
            <label>Topic</label>
            <select id="nq-topic">
                <option>Choose a subject</option>
            </select>
          </div>
          <div class="row">
            <label>Level</label>
            <select id="nq-level">
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="difficult">Difficult</option>
            </select>
          </div>

          <div class="row">
            <label>Tipo</label>
            <select id="nq-type">
              <option value="shortAnswer">Short answer</option>
              <option value="trueOrFalse">True or False</option>
              <option value="multipleChoice">Multiple choice</option>
            </select>
          </div>

          <div class="row">
            <div class="row">
              <div class="col s12 m12 l12">
                <a id="btn-add-option" class="btn waves-effect waves-light blue white-text">New option<i class="material-icons right">add</i></a>
              </div>
            </div>
            <div class="row">
              <div class="chip">
                The first option is the correct option! It will be jumbled during test.
                <i class="material-icons left">warning</i>
              </div>
            </div>
            <div class="row">
              <ol id="options"></ol>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a id="btn-create-question" class="modal-action modal-close waves-effect waves-green btn-flat">Create</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>

      <!-- modal of creating new topics -->
      <div id="modal-new-topic" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5>Creating a new topic</h5>
          </div>
          <div class="row">
            <label>Subject</label>
            <select id="modal-topic-course">

            </select>
          </div>
          <div class="row">
            <label>Name</label>
            <input id="modal-topic-name" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <a id="btn-create-topic" class="modal-action modal-close btn-flat">Create</a>
          <a class="modal-action modal-close btn-flat">Cancel</a>
        </div>
      </div>

      <!-- modal of creating new disciplines -->
      <div id="modal-new-course" class="modal">
        <div class="modal-content">
          <div class="row">
            <h5>Creating new Subject</h5>
          </div>
          <div class="row">
            <label>Name</label>
            <input id="modal-course-name" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <a id="btn-create-course" class="modal-action modal-close btn-flat">Create</a>
          <a class="modal-action modal-close btn-flat">Cancel</a>
        </div>
      </div>
    </body>
</html>
